.form-group {
   margin-bottom: 0;
   label {
      font-weight: 500;
      margin-bottom: 0; 
   }
   p {      
      margin-bottom: 5px;   
   }
}

.img-thumbnail {
   height: 150px;
   width: 70%;
   left: 15%;
   position: relative;
   margin: 5px;
   border: none;   
}

.card-header {
   border-top: 1px solid rgba(0, 0, 0, 0.125);
   font-weight: 700;
   font-size: larger;
}

.word-card {
   margin-bottom: 20px;
}