<div class="container">
   <div class="row pt-2 pb-2">
      <div class="col-12 text-center">
         <h4>{{ title }}</h4>
      </div>
   </div>
   <div class="row">
      <div *ngFor="let word of wordList;" class="col-md-6 col-12 word-card">
         <div class="card">
            <img class="card-img-top img-thumbnail rounded" [src]="word.imageUrl" alt="Card image cap">
            <div class="card-header">
               {{ word.name }}
            </div>
            <div class="card-body">
               <!-- <h5 class="card-title">Special title treatment</h5>-->
               <div class="form-row">
                  <div class="form-group col-md-6 col-12">
                     <label>Plural form</label>
                     <p>{{ word.plural}}</p>
                  </div>
                  <div class="form-group col-md-6 col-12">
                     <label>Meaning</label>
                     <p>{{ word.meaning}}</p>
                  </div>
               </div>
               <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <ul class="list-group list-group-flush">
               <li *ngFor="let sentence of word.sentences" class="list-group-item">
                  {{ sentence }}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>